.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 879px;
	min-height: 606.5559342073745px;
	margin-left: auto;
	margin-right: auto;
	padding: 255px 41px 673.4440657926255px 40px;
}

#menuu141
{
	z-index: 2;
	width: 1047px;
	padding-bottom: 20px;
	top: 20px;
	left: -48px;
}

#u142
{
	width: 169px;
	min-height: 32px;
	margin-right: -10000px;
	top: 15px;
	left: 10px;
}

#u242
{
	width: 169px;
	min-height: 32px;
	margin-right: -10000px;
	top: 15px;
	left: 181px;
}

#u206
{
	width: 169px;
	min-height: 32px;
	margin-right: -10000px;
	top: 15px;
	left: 352px;
}

#u145,#u245,#u207
{
	width: 169px;
}

#u146,#u247,#u209
{
	height: 32px;
	width: 169px;
	margin-right: -10000px;
}

#u1924
{
	width: 170px;
	min-height: 32px;
	margin-right: -10000px;
	top: 15px;
	left: 523px;
}

#u1927
{
	height: 32px;
	width: 170px;
	margin-right: -10000px;
}

#u2430
{
	width: 170px;
	min-height: 32px;
	margin-right: -10000px;
	top: 10px;
	left: 695px;
}

#u1925,#u2431
{
	width: 170px;
}

#u2431:hover
{
	margin: 0px;
}

#u2431.MuseMenuActive
{
	margin: 0px;
}

#u2433
{
	height: 32px;
	width: 170px;
	margin-right: -10000px;
	top: 5px;
}

#u221
{
	width: 174px;
	min-height: 32px;
	margin-right: -10000px;
	top: 15px;
	left: 867px;
}

#u222
{
	width: 174px;
}

#u224
{
	height: 32px;
	width: 174px;
	margin-right: -10000px;
}

#u2468-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-left: 23px;
	position: relative;
}

#u2361
{
	z-index: 39;
	width: 879px;
	margin-top: 205px;
	position: relative;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

