.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1534.9px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: 195px;
}

#menuu141
{
	z-index: 2;
	width: 1047px;
	padding-bottom: 20px;
	left: -48px;
}

#u142
{
	width: 169px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 10px;
}

#u145
{
	width: 169px;
}

#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u242
{
	width: 169px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 181px;
}

#u245
{
	width: 169px;
}

#u145.MuseMenuActive,#u245:hover
{
	margin: 0px;
}

#u245:active
{
	margin: 0px;
}

#u206
{
	width: 169px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 352px;
}

#u207
{
	width: 169px;
}

#u245.MuseMenuActive,#u207:hover
{
	margin: 0px;
}

#u207:active
{
	margin: 0px;
}

#u146-4_clip,#u247-4_clip,#u209-4_clip
{
	width: 169px;
	height: 22px;
}

#u1924
{
	width: 170px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 523px;
}

#u1925
{
	width: 170px;
}

#u207.MuseMenuActive,#u1925:hover
{
	margin: 0px;
}

#u1925:active
{
	margin: 0px;
}

#u2430
{
	width: 170px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 695px;
}

#u2431
{
	width: 170px;
}

#u1925.MuseMenuActive,#u2431:hover
{
	margin: 0px;
}

#u2431:active
{
	margin: 0px;
}

#u221
{
	width: 170px;
	min-height: 22px;
	margin-right: -10000px;
	top: 10px;
	left: 867px;
}

#u222
{
	width: 170px;
}

#u2431.MuseMenuActive,#u222:hover
{
	margin: 0px;
}

#u222:active
{
	margin: 0px;
}

#u222.MuseMenuActive
{
	margin: 0px;
}

#u1927-4_clip,#u2433-4_clip,#u224-4_clip
{
	width: 170px;
	height: 22px;
}

#u146-4,#u247-4,#u209-4,#u1927-4,#u2433-4,#u224-4
{
	margin-right: -10000px;
}

#pu2437-14
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 86px;
	position: relative;
}

#u2437-14
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 290px;
	left: 588px;
}

#u2439
{
	z-index: 54;
	width: 555px;
	margin-left: 202px;
	margin-top: 78px;
	position: relative;
}

#u2439_img
{
	padding-right: 1px;
}

#u2442-10
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 180px;
	margin-top: 56px;
	position: relative;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

